<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bicicletariabikecenter">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BicicletariaBikeCenter"
        tools:targetApi="31">
        <activity
            android:name=".Aro29Activity"
            android:exported="false" />
        <activity
            android:name=".Aro26Activity"
            android:exported="false" />
        <activity
            android:name=".Aro24Activity"
            android:exported="false" />
        <activity
            android:name=".Aro20Activity"
            android:exported="false" />
        <activity
            android:name=".Aro16Activity"
            android:exported="false" />
        <activity
            android:name=".VisualizarBicicletaActivity"
            android:exported="false" />
        <activity
            android:name=".Aro12Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>